<!-- COMPLEXITY LEVEL 1 -->

<!-- <book-mgmt></book-mgmt> -->
<!-- <diet-plan></diet-plan> -->
<!-- <faq-accordion></faq-accordion> -->
<!-- <feedback-form-counter></feedback-form-counter> -->
<!-- <movie-watchlist></movie-watchlist> -->
<!-- <parking-meter></parking-meter> -->
<!-- <tabs-nav-pills></tabs-nav-pills> -->
<!-- <quiz-maker></quiz-maker> -->
<!-- <single-answer-quiz></single-answer-quiz> -->


<!-- COMPLEXITY LEVEL 2 -->

<!-- <sortable-table></sortable-table> -->
<!-- <controlled-uncontrolled-toggle></controlled-uncontrolled-toggle> -->
<!-- <course-waitlist-capacity></course-waitlist-capacity> -->
<!-- <appointment-picker></appointment-picker> -->
<!-- <pagination-demo></pagination-demo> -->
<!-- <expense-track></expense-track> -->
<!-- <star-rating-widget></star-rating-widget> -->
<!-- <stopwatch></stopwatch> -->
<two-step-form></two-step-form>
